* {
  margin: 0 auto;
  padding: 0px;
  padding-bottom: 50px;
  box-sizing: border-box;
}
body{
    width: 960px;
}
.list-group{
    margin: 0;
    padding-top:50px;
    padding-bottom:50px;
}
.list{
    padding:20px;
}
.list:nth-child(odd){
    background-color: gray;
}
.box1{
    width: 30%;
    height: 200px;
    margin-right: 5%;
    margin-bottom: 40px;
    float: left;
    background-color: orange;
}
.box2{
    width: 30%;
    height: 200px;
    margin-right: 5%;
    margin-bottom: 40px;
    float: left;
    background-color: yellow;
}
.box3{
    width: 30%;
    height: 200px;
    margin-bottom: 40px;
    float: left;
    background-color: yellow;
}
.box4{
    width: 30%;
    height: 200px;
    margin-right: 5%;
    margin-bottom: 40px;
    float: left;
    background-color: yellow;
}
.box5{
    width: 30%;
    height: 200px;
    margin-right: 5%;
    margin-bottom: 40px;
    float: left;
    background-color: orange;
}
.box6{
    width: 30%;
    height: 200px;
    margin-bottom: 40px;
    float: left;
    background-color: yellow;
}
.box7{
    width: 30%;
    height: 200px;
    margin-right: 5%;
    float: left;
    background-color: yellow;
}
.box8{
    width: 30%;
    height: 200px;
    margin-right: 5%;
    float: left;
    background-color: yellow;
}
.box9{
    width: 30%;
    height: 200px;
    float: left;
    background-color: orange;
}
