* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}
body{
	width: 960px;
	margin: 0 auto;
}
.box1{
	margin-top: 50px;
	margin-bottom: : 50px;
	float: left;
	margin-right: 50px;
	border: 1px solid gray;
	position: relative;
}
.box2{
	margin-top: 50px;
	margin-bottom: : 50px;
	float: left;
	margin-right: 50px;
	border: 1px solid gray;
	position: relative;
}
.box3{
	margin-top: 50px;
	margin-bottom: : 50px;
	float: left;
	border: 1px solid gray;
	position: relative;
}
.image{
	display: block;
	width: 280px;
	height: 180px;
	padding: 10px;
}
p{
	position: absolute;
	background-color: orange;
	font-size: 25px;
	color: white;
}
h3{
	padding-left:10px;
}
h4{
	font-size: 15px;
	padding: 10px;
}